*{box-sizing: border-box;}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.btn-wrapper button {

  background-color:royalblue;
  border: 1px black solid;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  margin-top: 20px;
}
.img-wrapper img{
  width: 100px;
}

.header{
  width: 100%;
  display: inline-block;
 padding: 30px 60px;
}
.cart-icon{
  display: flex; 
  align-items: center;
  justify-content: end;
} 
.cart-content{
  position: relative
}
.cart-content img
{
  width: 80px;
}
.cart-count{
  position: absolute; 
  top: 0; 
  right: 0; 
  width: 30px; height: 30px; 
  background-color: #282c34; 
  color: #fff;
  border-radius: 50%;    
  display: flex;
  align-items: center;
  justify-content: center;
}  
.button
{
  margin-right: 30px;
  
}
